<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>House Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="stylish.css">

</head>

<body>

    <nav class="navbar navbar-expand navbar-light sticky-top customStyleNav">

        <div class="navbar-collapse d-flex flex-row justify-content-around" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Congress
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="senate-data.html">Senate</a>
                        <a class="dropdown-item" href="house-data.html">House</a>
                        <a class="dropdown-item" href="#">Select a different Congress</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Attendence
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="senate-attendance-statistics.html">Senate</a>
                        <a class="dropdown-item" href="house-attendance-statistics.html">House</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Loyality
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="senate-party-loyalty.html">Senate</a>
                        <a class="dropdown-item" href="house-party-loyalty.html">House</a>
                    </div>
                </li>
            </ul>
            <blockquote class="blockquote font-italic">"Democracy Dies In the Dark"<footer class="blockquote-footer">The Washington Post</footer></blockquote>
        </div>
    </nav>
    <div id="house" class="container">
        <div id="table">
            <div id="filterZone" class="d-flex justify-content-center ">
                <div class="col-sm-5">
                    <label for="R">REPUBLICANS</label>
                    <input type="checkbox" v-model="checkedParties" value="R" id="R">

                    <label for="D">DEMOCRATS</label>
                    <input type="checkbox" v-model="checkedParties" value="D" id="D">

                    <label for="I">INDEPENDENTS</label>
                    <input type="checkbox" v-model="checkedParties" value="I" id="I">

                </div>
                <select name="mystates" v-model="selectedState" class="col-sm-2">
                    <option value=''>Please select one</option>
                    <option v-for="state in usStates" v-bind:value="state.abbreviation"> {{ state.name }} </option>
                </select>
            </div>
            <table class="table table-hover table-sm">
                <thead class="thead-dark">
                    <th>NAME</th>
                    <th>PARTY</th>
                    <th>STATE</th>
                    <th>YEARS IN OFFICE</th>
                    <th>% VOTES W/ PARTY</th>

                </thead>
                <tbody>
                    <tr v-for="member in filterSenators">
                        <td><a :href="member.url"> {{ member.first_name }} {{ member.last_name }}</a></td>
                        <td> {{ member.party }} </td>
                        <td> {{ member.state }} </td>
                        <td> {{ member.seniority }} </td>
                        <td> {{ member.votes_with_party_pct }} </td>
                    </tr>
                </tbody>
            </table>
            <footer class="jumbotron d-flex flex-column align-items-center">
                <h2>@2016 TGIF | All Rights Reserved</h2> <a href="#"><img src="uncle-sam-hat.png" alt="" class="logo"></a>
            </footer>
        </div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="congress-data-vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
